<ion-header>
  <ion-toolbar>
    <ion-title>
      Assignment 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h3>
      Name: Muhammad Junaid Hussain
    </h3>
    <h3>
      City: Gujar Khan
    </h3>
    <h3>
      Interests: FOOTBALL , SEASONS , GAMES
    </h3>
  </div>
  <!-- <div class="ion-padding">
    <h3>
      Name: {{ name}}
    </h3>
    <h3>
      City: {{ city}}
    </h3>
    <h3>
      Interests: {{ interests.toString()}}
    </h3>
  </div> -->
</ion-content>